<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>Upload Clips!</title>
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>