{% extends "base.html" %}

{% block content %}
    <div class="header">
        <h1 class="title">To Upload:</h1>
        <ol>
            <li class="number">
                <h2 class="paragraph">Select a video file. (At most 60 seconds in duration and 50MB in filesize).</h2>
            </li>
            <li class="number">
                <h2 class="paragraph">Write in an optional title.</h2>
            </li>
            <li class="number">
                <h2 class="paragraph">Upload.</h2>
            </li>
        </ol>
    </div>
    <div class="outer">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="{{ form.file.id_for_label }}">
                    <span>Choose Clip</span>
                </label>
                {{ form.file }}
                <!-- <input id="file-select" type="file" accept="video/*" name="file" hidden> -->
                <input id="file-upload" type="submit" value="Upload" hidden>
            </div>
            {{ form.title }}
            <!-- <input type="text" id="title-upload" name="title" placeholder="Enter a title"> -->
        </form>
    </div>
    <div class="error">
        {% load static %}
        <img src="{% static 'images/error_icon.png' %}" alt="Error Icon">
        <span></span>
    </div>
    {% load static %}
    <script src="{% static 'scripts/upload.js' %}"></script>
{% endblock %}