{% extends "base.html" %}

{% block content %}
<div class="video outer">
    <h1 class="title">{{ title }}</h1>
    <video width="480" controls muted>

    </video>
    <h1 class="paragraph">
        <span class="number">{{ views }}</span> Views
    </h1>
</div>
<a href="/">Upload Video</a>
<div class="error page">
    {% load static %}
    <img src="{% static 'images/error_icon.png' %}" alt="Error Icon">
    <span></span>
</div>
{% load static %}
<script id="client" src="{% static 'scripts/watch.js' %}" data-url="{{ url }}" defer></script>
{% endblock %} 