:root {
    --bg-colour: #D25137;
}

html, body {
    background-color: var(--bg-colour);
}

.error > span {
    color: white;
    font-size: 2em;
}

.error > img {
    max-width: 100%;
    max-height: 100%;
}